body {
    margin: -15px 0 0 0;
    *margin: 0;
	padding: 0px;
	background-color: #181818;
	font: normal 13px "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	color: #ededed;
	line-height: 24px;
}

img, div, p, table, tr, td, form, h1, h2, h3, h4, h5, a, form { border: 0; padding: 0; margin: 0;}
a, a:link, a:hover { text-decoration: none; color: #faacda;}
a:active, a:visited {text-decoration: none; color: #faacda;}
a:hover { background-color: #EC008C;}
h1 {
    font: normal 40px "Arial";
    text-transform: uppercase;
}

hr {
	clear: both;
	visibility: hidden;
	background: none;
	border: none;
	height: 1px;
	margin:0;
	padding: 0;
    line-height: 0;
}

#Pagina {
    margin: 60px 0 60px 40px;
    min-width: 1010px;
}

#Encabezado {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
}

.Mensaje {
    margin: 40px 0 0 30px;
    padding: 10px;
    background-color: #222;
}

#Traducciones {
    margin: 20px 0 0 30px;
}
    .Grupos {
        padding: 0; 
        margin: 0;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 14px;
        float: left;
    }
        .Grupos a { color: #ededed;}
        .Grupos>li {
            margin-top: 25px;
            width: 300px;
            margin-right: 10px;
            display: block;
        }
    .Grupos ul {
        /*border-left: 1px solid #ededed;*/
        padding: 0 0 0 20px;
        list-style-type: none;
        font-size: 12px;
        text-transform: none;
        font-weight: bold;
    }
        .Grupos ul li {
            margin-top: 5px;
        }
        
    .Grupos ul li ul {
        padding: 0 0 0 25px;
        list-style-type: none;
        font-weight: normal;
        border: 0px;
    }
#Pie {
    margin: 60px 0 0 30px;
    padding: 10px;
    font-size: 9px;
    background-color: #222;
    line-height: 14px;
}